<div class="program_wrapper">

    <div class="french-program">

        <h1 class="program_title">Programme de liste</h1>

        <p>Cette année, le BDS a beaucoup œuvré pour diversifier
            l’offre sportive afin que chacun puisse trouver son plaisir
            à Télécom Paris. Il propose à la fois une grande variété
            d’activités hebdomadaires, la participation régulière à des
            tournois dans différents sports et l’accès à des évènements
            sportifs à prix réduit. Nous avons à cœur de maintenir cette
            ambition en continuant à travailler sur les projets en cours
            (question du sport obligatoire, extension de l’Ekiden à l’Île de
            France, etc.) pour faire de Télécom Paris une école reconnue
            sur le plan sportif.</p>

        <p>Développer le sport pour tous est une de nos priorités
            l’année prochaine. Inclure les étudiants internationaux dans
            la pratique sportive nous paraît essentiel. C’est pour cela qu’il
            sera par exemple important d’effectuer notre communication
            en français et en anglais. Le BDS actuel souhaite qu’il y ait
            deux responsables par sport l’année prochaine. L’un d’entre
            eux pourra être responsable de l’inclusion des internationaux
            pendant les entraînements hebdomadaires, en s’assurant
            par exemple qu’ils comprennent bien les consignes données
            par les coachs.</p>

        <p>Le sport pour tous passe aussi par un accès équitable
            au sport. Le sport féminin fait face à un manque d’effectif
            dans certaines disciplines. Nous comptons rassembler les
            écoles du plateau pour monter des équipes communes.
            L’arrivée d’AgroParisTech sur le plateau peut jouer un rôle
            déterminant dans ce projet. Avec les autres écoles du
            plateau (SupOptique, l’Ensta, l’ENSAE, etc.), nous pourrons
            former de nouvelles équipes féminines.
            Cette ouverture aux autres écoles fait émerger de nouvelles
            équipes dans de nouveaux sports pour lesquels l’effectif
            est limité à Télécom, que ce soit pour le sport féminin ou
            masculin.</p>

        <p>Nous avons d’ailleurs à cœur de proposer la pratique
            de nouveaux sports aux Télécommiennes et Télécommiens.
            Nous travaillerons sur la création d’un club de ski et l’ajout
            de disciplines comme le crossfi t et la pétanque.
            Concernant la découverte des sports en début d’année,
            nous voudrions prolonger la période de découverte des
            sports proposés à Télécom et la réitérer un peu plus tard
            dans l’année. Cela permettra à tous les étudiants de mieux
            s’intégrer dans la vie sportive, même s’ils n’ont pas eu
            l’occasion de le faire dès septembre.</p>

        <p>Le tournoi de League of Legends inter-écoles organisé
            par Télécom montre aussi que l’e-sport est une discipline
            pleinement intégrée. Il faut poursuivre le développement
            d’événements e-sportifs qui participent au
            rayonnement de Télécom sur le plateau.</p>


        <p>Plus généralement, entretenir des relations plus fortes
            avec les BDS de l’IP Paris afi n de renforcer la visibilité sur les
            évènements organisés par Télécom Paris serait très effi cace.
            L’augmentation drastique du nombre d’inscrits à l’Ekiden
            cette année suite au contact des BDS du plateau en est la
            preuve. Ce projet a d’ailleurs été un grand succès et montre
            la capacité du BDS à organiser des évènements sportifs à
            grande échelle. Nous avons pour ambition d’étendre l’Ekiden
            à toutes les écoles d’Île de France.</p>


        <p>Cette connexion inter BDS est une première étape dans
            l’amélioration de la communication des évènements sportifs
            du plateau. C’est une piste qu’il faut continuer d’explorer. Le
            tournoi IP Fusion a par exemple manqué de visibilité, alors
            que c’est un événement important que Télécom SudParis a
            organisé (tournoi multisport et soirée) et pour lequel ils ont
            fait l’effort de se déplacer. Inclure les autres BDS du plateau
            dans ce projet laisse de grandes perspectives d’amélioration.</p>


        <p>Il nous paraît également important de renforcer la
            communication du BDS au sein de l’école, en commençant
            par remettre à neuf le site de l’association. Nous mettrons
            aussi en place un agenda accessible à tous pour référencer
            les événements sportifs à venir.</p>


        <p>Le WER, les Olympiades du WEI et l’Ekiden sont autant
            d’évènements que nous pourrions indiquer sur cet agenda
            et que nous souhaitons bien sûr maintenir dans les années
            à venir. Nous proposerons des activités sportives ludiques
            aux Télécommiens pour présenter le sport sous un différent
            aspect à travers des sorties ponctuelles. Nous soumettrons
            aux autres associations des idées d’activités comme une
            course caritative pour Télespoir, un ramassage de déchets
            chronométré avec MAD, ou encore un Tea Mile avec Thé Lait
            Com.</p>


        <p>Enfin, pour éviter un trop fort cloisonnement entre les
            sports, nous organiserons des sorties sportives ludiques à
            l’extérieur de Télécom (Paintball; Trampoline Park; District
            78...).</p>



        <p>Nous poursuivrons également les efforts du BDS actuel
            pour essayer d’insérer le sport dans le cursus académique
            des Télécommiens. Nous proposerons à l’administration
            différentes possibilités afi n de reconnaître la pratique
            régulière d’au moins un sport.</p>

        <p>Des équipements sportifs de qualité sont nécessaires
            au développement du sport. Il nous paraît donc important
            de mettre en place une gestion rigoureuse du matériel
            du BDS pour éviter autant que possible les
            dégradations et la perte de matériel. Cela
            passera par un inventaire complet du matériel, 
            une réorganisation du local pour rendre plus accessible le
            matériel fréquemment utilisé, et un système de prêt à la fois
            accessible et encadré pour permettre aux Télécommiens
            d’enlever le frein fi nancier dans la découverte de sports.
            Nous négocierons conjointement avec d’autres associations
            l’allocation d’espaces de stockage supplémentaires pour le
            matériel rarement utilisé.</p>


        <p>Le BDS dispose déjà de partenariats essentiels, le plus
            important étant la Société Générale.</p>


        <p>Nous aspirons à établir des partenariats avec des
            enseignes de sport afi n de proposer du matériel à des
            prix avantageux. Cela permettrait au BDS de maintenir un
            stock suffi sant de matériel de qualité, et de proposer aux
            Télécommiens des réductions pour leurs achats personnels.</p>


        <p>Il est également important de préserver et d’étendre
            notre accès aux infrastructures de sport du plateau, en
            proposant par exemple une mise en commun des créneaux
            de musculation.</p>


        <p>De plus, nous voulons accentuer l’aide financière du
            BDS pour faire participer les plus motivés des Télécommiens
            à des compétitions de haut niveau. Nous souhaitons en
            outre continuer les offres de billets pour des
            événements sportifs à prix réduit.</p>


        <p>L’ensemble de notre liste serait ravi de vous
            accompagner dans votre pratique sportive et de développer
            les projets que nous vous avons présentés.</p>

    </div>

    <div class="english-program">

        <h1 class="program_title">List program</h1>

        <p>This year, the BDS has worked hard to diversify the
            range of sports on offer so that everyone can fi nd something
            to enjoy at Télécom Paris. It offers a wide variety of weekly
            activities, regular participation in tournaments in different
            sports and access to sporting events at reduced prices. We
            are committed to maintaining this ambition by continuing
            to work on current projects (the issue of compulsory sport,
            extension of the Ekiden to the Ile de France region, etc.) to
            make Télécom Paris a school that is recognized for its sports.</p>

        <p>Developing sports for all is one of our priorities for next
            year. Including international students in sports activities
            seems essential to us. This is why it will be important, for
            example, to communicate in French and English. The
            current BDS would like to have two leaders per sport next
            year. One of them could be responsible for the inclusion of
            internationals during weekly training sessions, for example
            by making sure that they understand the instructions given
            by the coaches.</p>

        <p>Sport for all also requires equitable access to sport.
            Women’s sports are under-resourced in some disciplines.
            
            We plan to bring together the schools on the plateau to set
            up joint teams. The arrival of AgroParisTech on the Plateau
            may play a determining role in this project. With the other
            schools on the Plateau (SupOptique, Ensta, ENSAE, etc.), we
            will be able to form new women’s teams.</p>


        <p>This opening up to other schools will lead to the
            emergence of new teams in new sports for which the
            number of players is limited at Télécom, whether for men’s
            or women’s sports.</p>


        <p>We are also keen to offer the practice of new sports to
            Télécommians. We will work on the creation of a ski club and
            the addition of disciplines such as crossfi t and petanque.
            Concerning the discovery of sports at the beginning of the
            year, we would like to extend the period of discovery of the
            sports offered at Télécom and repeat it a little later in the
            year. This will allow all students to better integrate into the
            sports life, even if they did not have the opportunity to do so
            in September.</p>


            <p>The inter-school League of Legends tournament
                organized by Télécom also shows that e-sport is a fully
                integrated discipline. We must continue to develop e-sports
                events that contribute to the infl uence of Télécom on the
                Plateau.</p>


            <p>More generally, maintaining stronger relations with the
                BDS of IP Paris in order to reinforce visibility on the events
                organized by Télécom Paris would be very effective. The
                drastic increase in the number of registrations for the Ekiden
                this year following contact with the BDS of the Plateau is
                proof of this. This project was a great success and shows the
                capacity of the BDS to organize large-scale sports events.
                Our ambition is to extend the Ekiden to all the schools in
                the Ile de France.</p>


            <p>This inter BDS connection is a fi rst step in the
                improvement of the communication of the sports events of
                the plateau. It is an avenue that we must continue to explore.
                For example, the IP Fusion tournament lacked visibility, even
                though it was an important event that Télécom SudParis
                organized (multisport tournament and evening) and for
                which they made the effort to travel. Including the other
                BDS of the Plateau in this project leaves great room for
                improvement.</p>

            

            <p>We also feel it is important to strengthen the
                communication of the BDS within the school, starting with
                the refurbishment of the association’s website. We will also
                set up a calendar accessible to all to reference upcoming
                sports events.</p>



            <p>The WER, the WEI Olympics and the Ekiden are all
                events that we could put on this calendar and that we would
                of course like to maintain in the years to come. We will
                propose fun sports activities to Telecommians to present
                sports in a different way through specifi c outings. We will
                submit to other associations ideas for activities such as a
                charity race for TeleSpoir, a timed garbage collection with
                MAD, or a Tea Mile with Thé Lait Com.</p>



            <p>Finally, in order to avoid too much compartmentalization
                between sports, we will organize fun sports outings outside
                Telecom (Paintball; Trampoline Park; District 78...).</p>


            <p> We will also continue the efforts of the current BDS
                to try to insert sports into the academic curriculum of
                the Telecommians. We will propose to the administration
                different possibilities to recognize the regular practice of at
                least one sport.</p>


            <p>Quality sports equipment is necessary for the
                development of sport. It seems important to us to set up
                a rigorous management of the BDS equipment to avoid as
                much as possible the degradation and the loss of equipment.
                This will involve a complete inventory of the equipment,
                a reorganization of the premises to make
                frequently used equipment more accessible,
                and a loan system that is both accessible and
                
                supervised to allow Telecommians to remove the fi nancial
                obstacle to the discovery of sports. We will negotiate with
                other associations to provide additional storage space for
                seldom used equipment.</p>



            <p>The BDS already has key partnerships, the most
                important being the Société Générale. We aspire to establish
                partnerships with sports retailers to offer equipment at
                discounted prices. This would allow the BDS to maintain an
                adequate supply of quality equipment, and to offer discounts
                to Telecommians for their personal purchases.</p>


            <p>It is also important to preserve and expand our access to
                the sports facilities of the plateau, for example by proposing
                a pooling of weight training slots.</p>


            <p>In addition, we want to increase the fi nancial support of
                the BDS in order to allow the most motivated Telecommians
                to participate in high level competitions. We would also like
                to continue offering tickets to sporting events at a reduced
                price.</p>


                
               



    </div>



</div>