<div class="returns-container">

    <h1>Comptes de campagne</h1>

    <div class="returns">

        <div class="returns-item">
            <h2>Recettes</h2>
            <img src="/photos/returns/receipts.png" alt="receipts" style="max-width: 100%; height: auto;">
        </div>

        <div class="returns-item">
            <h2>Dépenses</h2>
            <img src="/photos/returns/expenses.png" alt="expenses" style="max-width: 100%; height: auto;">
        </div>

       

    </div>

    <div class="returns-total">
        <div class="returns-item">
            <h2>Total</h2>
            <img src="/photos/returns/total.png" alt="total" style="max-width: 100%; height: auto;">
        </div>
    </div>


</div>