<div class="returns-container">

    <h1>Comptes de campagne</h1>

    <div class="returns">

        <div class="returns-item">
            <h2>Dépenses</h2>
            <img src="/photos/returns/expenses.png" alt="expenses">
        </div>

        <div class="returns-item">
            <h2>Recettes</h2>
            <img src="/photos/returns/receipts.png" alt="receipts">
        </div>

        <div class="returns-item">
            <h2>Total</h2>
            <img src="/photos/returns/total.png" alt="total">
        </div>

    </div>


</div>