.events_img {
    max-width: 300px;
    max-height: 300px;
}

.events_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.event {
    margin: 0 auto;
    display: column;
    grid-gap: 0rem;
    width: auto;
}

.event_frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    margin-top: 4rem;
    flex: wrap;
    border: 10px solid #fcd517;
    border-radius: 10px;
    padding: 2em;
}

.events_desc {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 2rem;
    text-align: justify;
}

@media(max-width:600px) {
    .event_frame {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .events_desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        text-align: justify;
    }
}



/* Sports*/
.sports_img {
    max-width: 300px;
    max-height: 300px;
}

.sports_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.sport {
    margin: 0 auto;
    display: column;
    grid-gap: 0rem;
    width: auto;
}

.sport_frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    margin-top: 4rem;
    flex: wrap;
    border: 10px solid #fcd517;
    border-radius: 10px;
    padding: 2em;
}

.sports_desc {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 2rem;
}

@media(max-width:600px) {
    .sport_frame {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sports_desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        text-align: justify;
    }
}
